<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Mengenmeldung</a>

    <button class="navbar-toggler" type="button" (click)="isMenuOpen = !isMenuOpen">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto align-items-md-center gap-2 gap-md-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/mengenmeldungen">Show Mengen</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mengenmeldungen/new">Add Mengen</a>
        </li>

        <li class="nav-item">
          <span class="navbar-text fw-semibold">{{ username }}</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
