.rounded-navbar {
  border-radius: 1rem;
  margin: 0.75rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #cfdbed9c;
}

.navbar .nav-link {
  transition: all 0.2s ease;
  color: #495057;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    margin-bottom: 0.5rem;
  }
}

.navbar .nav-link:hover {
  background-color: rgba(13, 110, 253, 0.1);
}

.navbar .nav-link.active {
  background-color: #0d6efd;
  color: white !important;
  font-weight: 500;
}

.navbar-text {
  background-color: #f1f3f5;
  border-radius: 999px;
  /* padding: 0.4rem 0.8rem; */
}
